@import (reference) "../../styles/variables.less";

.@{prefix}-hero {
  position: relative;
  margin: 0 auto;
  padding: 32px 120px;
  padding-top: calc(var(--dv-nav-height) + 32px);
  max-width: var(--dv-layout-max-width);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 32px;

  @media @mobile {
    margin-top: calc((var(--dv-nav-height) - 20) * -1);
    padding-top: 160px;
    height: 660px;
  }

  &-main,
  &-image {
    flex: 1;
  }

  &-text {
    font-size: 56px;
    line-height: 64px;
    font-weight: 600;
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 4px;

    @media @mobile {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &-tagline {
    font-size: 24px;
    line-height: 36px;
    color: @c-text-secondary;
    padding-top: 12px;
  }

  &-actions {
    padding-top: 32px;
    display: flex;
    gap: 12px;

    > a {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      padding: 0 20px;
      border-radius: 100px;
      border: 1px solid transparent;
      transition: all 0.2s;

      &:first-child {
        font-weight: 600;
        color: #fff;
        background-color: @c-primary;
      }

      &:first-child:hover {
        background-color: @c-primary-hover;
      }

      &:not(:first-child) {
        color: @c-text;
        border: 1px solid @c-border;
        background-color: @c-card-bg;

        &:hover {
          border-color: @c-border;
          background-color: @c-card-hover-bg;
        }
      }
    }
  }

  &-image {
    min-height: 100%;

    &-wrapper {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    &-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 360px;
      height: 360px;
      border-radius: 50%;
      background: @c-hero-image-bg;
      filter: @c-hero-image-filter;
    }

    &-src {
      z-index: 1;

      img,
      svg {
        width: 320px;
        height: 320px;
      }

      img {
        object-fit: cover;
      }
    }
  }
}
