// reset
*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
p {
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
}

body {
  font-family: @o-font-family;
}

a {
  text-decoration: none;
}
