@prefix: dumi-vite;

@s-content-padding: 48px;
@s-sidebar-width: 184px;

@c-primary: #6366f1;
@c-primary-hover: #4f46e5;
@c-warning: #f59e0b;
@c-success: #10b981;
@c-error: #ef4444;
@c-text: #213547;
@c-text-secondary: rgba(60, 60, 60, 0.7);
@c-text-note: rgba(60, 60, 60, 0.33);
@c-border: #d0d5d8;
@c-border-light: #e4e9ec;
@c-card-bg: #f2f2f2;
@c-card-hover-bg: #e5e5e5;
@c-card-bg-light: #f9f9f9;
@c-site-bg: #fff;
@c-hero-name-bg: -webkit-linear-gradient(-45deg, #4f46e5 40%, #a855f7);
@c-hero-image-bg: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
@c-hero-image-filter: blur(80px);

// dark theme colors
// @dark-selector be injected by less-loader in feature/theme/index.ts
@dark-solid-amount: 15%;
@dark-light-amount: 22%;
@dark-border-amount: 73%;
@c-primary-dark: darken(@c-primary, @dark-solid-amount);
@c-warning-dark: darken(@c-warning, @dark-solid-amount);
@c-success-dark: darken(@c-success, @dark-solid-amount);
@c-error-dark: darken(@c-error, @dark-solid-amount);
@c-text-dark: lighten(@c-text-note, @dark-light-amount);
@c-text-secondary-dark: lighten(@c-text-secondary, @dark-light-amount);
@c-text-note-dark: lighten(@c-text, @dark-light-amount);
@c-border-dark: darken(@c-border, @dark-border-amount);
@c-border-less-dark: darken(@c-border-light, @dark-border-amount);
@c-site-bg-dark: darken(@c-site-bg, 95%);

@o-font-family: "Inter var experimental", "Inter var", ui-sans-serif, system-ui,
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@mobile: ~"only screen and (max-width: 767px)";
@tablet: ~"only screen and (min-width: 768px) and (max-width: 1024px)";
@w1024: ~"only screen and (max-width: 1024px)";
@w1280: ~"only screen and (max-width: 1280px)";

:root {
  // Base colors
  --dv-c-white: #fff;
  --dv-c-white-soft: #f9f9f9;
  --dv-c-white-mute: #f1f1f1;
  --dv-c-black: #1a1a1a;
  --dv-c-black-pure: #000;
  --dv-c-black-soft: #242424;
  --dv-c-black-mute: #2f2f2f;
  --dv-c-gray: #8e8e8e;
  --dv-c-gray-light-1: #aeaeae;
  --dv-c-gray-light-2: #c7c7c7;
  --dv-c-gray-light-3: #d1d1d1;
  --dv-c-gray-light-4: #e5e5e5;
  --dv-c-gray-light-5: #f2f2f2;
  --dv-c-gray-dark-1: #636363;
  --dv-c-gray-dark-2: #484848;
  --dv-c-gray-dark-3: #3a3a3a;
  --dv-c-gray-dark-4: #282828;
  --dv-c-gray-dark-5: #202020;
  --dv-c-divider-light-1: rgb(60 60 60 / 29%);
  --dv-c-divider-light-2: rgb(60 60 60 / 12%);
  --dv-c-divider-dark-1: rgb(84 84 84 / 65%);
  --dv-c-divider-dark-2: rgb(84 84 84 / 48%);
  --dv-c-text-light-1: var(--dv-c-indigo);
  --dv-c-text-light-2: rgb(60 60 60 / 70%);
  --dv-c-text-light-3: rgb(60 60 60 / 33%);
  --dv-c-text-light-4: rgb(60 60 60 / 18%);
  --dv-c-text-dark-1: rgb(255 255 255 / 87%);
  --dv-c-text-dark-2: rgb(235 235 235 / 60%);
  --dv-c-text-dark-3: rgb(235 235 235 / 38%);
  --dv-c-text-dark-4: rgb(235 235 235 / 18%);
  --dv-c-indigo: #213547;
  --dv-c-indigo-soft: #476582;
  --dv-c-indigo-light: #aac8e4;
  --dv-c-indigo-lighter: #c9def1;
  --dv-c-indigo-dark: #1d2f3f;
  --dv-c-indigo-darker: #14212e;
  --dv-c-green: #42b883;
  --dv-c-green-light: #42d392;
  --dv-c-green-lighter: #35eb9a;
  --dv-c-green-dark: #33a06f;
  --dv-c-green-darker: #155f3e;
  --dv-c-green-dimm-1: rgb(66 184 131 / 50%);
  --dv-c-green-dimm-2: rgb(66 184 131 / 25%);
  --dv-c-green-dimm-3: rgb(66 184 131 / 5%);
  --dv-c-yellow: #ffc517;
  --dv-c-yellow-light: #fcd253;
  --dv-c-yellow-lighter: #fcfc7c;
  --dv-c-yellow-dark: #e0ad15;
  --dv-c-yellow-darker: #ad850e;
  --dv-c-yellow-dimm-1: rgb(255 197 23 / 50%);
  --dv-c-yellow-dimm-2: rgb(255 197 23 / 25%);
  --dv-c-yellow-dimm-3: rgb(255 197 23 / 5%);
  --dv-c-red: #ed3c50;
  --dv-c-red-light: #f54e82;
  --dv-c-red-lighter: #fd1d7c;
  --dv-c-red-dark: #cd2d3f;
  --dv-c-red-darker: #ab2131;
  --dv-c-red-dimm-1: rgb(237 60 80 / 50%);
  --dv-c-red-dimm-2: rgb(237 60 80 / 25%);
  --dv-c-red-dimm-3: rgb(237 60 80 / 5%);

  // Theme Colors
  --dv-c-bg: var(--dv-c-white);
  --dv-c-bg-soft: var(--dv-c-white-soft);
  --dv-c-bg-mute: var(--dv-c-white-mute);
  --dv-c-bg-alt: var(--dv-c-white-soft);
  --dv-c-divider: var(--dv-c-divider-light-1);
  --dv-c-divider-light: var(--dv-c-divider-light-2);
  --dv-c-divider-inverse: var(--dv-c-divider-dark-1);
  --dv-c-divider-inverse-light: var(--dv-c-divider-dark-2);
  --dv-c-text-1: var(--dv-c-text-light-1);
  --dv-c-text-2: var(--dv-c-text-light-2);
  --dv-c-text-3: var(--dv-c-text-light-3);
  --dv-c-text-4: var(--dv-c-text-light-4);
  --dv-c-text-inverse-1: var(--dv-c-text-dark-1);
  --dv-c-text-inverse-2: var(--dv-c-text-dark-2);
  --dv-c-text-inverse-3: var(--dv-c-text-dark-3);
  --dv-c-text-inverse-4: var(--dv-c-text-dark-4);
  --dv-c-text-code: var(--dv-c-indigo-soft);
  --dv-c-brand: var(--dv-c-indigo);
  --dv-c-brand-light: var(--dv-c-indigo-light);
  --dv-c-brand-lighter: var(--dv-c-indigo-lighter);
  --dv-c-brand-dark: var(--dv-c-indigo-dark);
  --dv-c-brand-darker: var(--dv-c-indigo-darker);
  --dv-c-sponsor: #fd1d7c;

  // Shadows
  --dv-shadow-1: 0 1px 2px rgb(0 0 0 / 4%), 0 1px 2px rgb(0 0 0 / 6%);
  --dv-shadow-2: 0 3px 12px rgb(0 0 0 / 7%), 0 1px 4px rgb(0 0 0 / 7%);
  --dv-shadow-3: 0 12px 32px rgb(0 0 0 / 10%), 0 2px 6px rgb(0 0 0 / 8%);
  --dv-shadow-4: 0 14px 44px rgb(0 0 0 / 12%), 0 3px 9px rgb(0 0 0 / 12%);
  --dv-shadow-5: 0 18px 56px rgb(0 0 0 / 16%), 0 4px 12px rgb(0 0 0 / 16%);

  // Z Index
  --dv-z-index-sidebar: 1;
  --dv-z-index-local-nav: 10;
  --dv-z-index-nav: 20;
  --dv-z-index-backdrop: 30;
  --dv-z-index-footer: 50;

  // Icons
  --dv-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' class='h-6 w-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
  --dv-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' class='h-6 w-6' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E");

  // Sizes
  --dv-layout-max-width: 1680px;
  --dv-sidebar-width: 272px;

  // Nav styles
  --dv-nav-height: var(--dv-nav-height-desktop);
  --dv-nav-height-mobile: 56px;
  --dv-nav-height-desktop: 72px;

  // Code Styles
  --dv-code-line-height: 1.7;
  --dv-code-font-size: 0.875em;
  --dv-code-block-color: var(--dv-c-text-dark-1);
  --dv-code-block-bg: #292d3e;
  --dv-code-line-highlight-color: rgb(0 0 0 / 50%);
  --dv-code-line-number-color: var(--dv-c-text-dark-3);
  --dv-code-copy-code-hover-bg: rgb(255 255 255 / 5%);
  --dv-code-copy-code-active-text: var(--dv-c-text-dark-2);

  // Home Hero
  --dv-home-hero-name-color: var(--dv-c-brand);
  --dv-home-hero-name-background: transparent;
  --dv-home-hero-image-background-image: none;
  --dv-home-hero-image-filter: none;

  // Button Style
  --dv-button-brand-border: var(--dv-c-brand-light);
  --dv-button-brand-text: var(--dv-c-text-dark-1);
  --dv-button-brand-bg: var(--dv-c-brand);
  --dv-button-brand-hover-border: var(--dv-c-brand-light);
  --dv-button-brand-hover-text: var(--dv-c-text-dark-1);
  --dv-button-brand-hover-bg: var(--dv-c-brand-light);
  --dv-button-brand-active-border: var(--dv-c-brand-light);
  --dv-button-brand-active-text: var(--dv-c-text-dark-1);
  --dv-button-brand-active-bg: var(--dv-button-brand-bg);
  --dv-button-alt-border: var(--dv-c-gray-light-3);
  --dv-button-alt-text: var(--dv-c-text-light-1);
  --dv-button-alt-bg: var(--dv-c-gray-light-5);
  --dv-button-alt-hover-border: var(--dv-c-gray-light-3);
  --dv-button-alt-hover-text: var(--dv-c-text-light-1);
  --dv-button-alt-hover-bg: var(--dv-c-gray-light-4);
  --dv-button-alt-active-border: var(--dv-c-gray-light-3);
  --dv-button-alt-active-text: var(--dv-c-text-light-1);
  --dv-button-alt-active-bg: var(--dv-c-gray-light-3);
  --dv-button-sponsor-border: var(--dv-c-gray-light-3);
  --dv-button-sponsor-text: var(--dv-c-text-light-2);
  --dv-button-sponsor-bg: transparent;
  --dv-button-sponsor-hover-border: var(--dv-c-sponsor);
  --dv-button-sponsor-hover-text: var(--dv-c-sponsor);
  --dv-button-sponsor-hover-bg: transparent;
  --dv-button-sponsor-active-border: var(--dv-c-sponsor);
  --dv-button-sponsor-active-text: var(--dv-c-sponsor);
  --dv-button-sponsor-active-bg: transparent;

  // Custom Block
  --dv-custom-block-code-font-size: 13px;
  --dv-custom-block-info-border: var(--dv-c-divider-light);
  --dv-custom-block-info-text: var(--dv-c-text-2);
  --dv-custom-block-info-bg: var(--dv-c-white-soft);
  --dv-custom-block-info-code-bg: var(--dv-c-gray-light-4);
  --dv-custom-block-tip-border: var(--dv-c-green-dimm-1);
  --dv-custom-block-tip-text: var(--dv-c-green-darker);
  --dv-custom-block-tip-bg: var(--dv-c-green-dimm-3);
  --dv-custom-block-tip-code-bg: var(--dv-custom-block-tip-bg);
  --dv-custom-block-warning-border: var(--dv-c-yellow-dimm-1);
  --dv-custom-block-warning-text: var(--dv-c-yellow-darker);
  --dv-custom-block-warning-bg: var(--dv-c-yellow-dimm-3);
  --dv-custom-block-warning-code-bg: var(--dv-custom-block-warning-bg);
  --dv-custom-block-danger-border: var(--dv-c-red-dimm-1);
  --dv-custom-block-danger-text: var(--dv-c-red-darker);
  --dv-custom-block-danger-bg: var(--dv-c-red-dimm-3);
  --dv-custom-block-danger-code-bg: var(--dv-custom-block-danger-bg);
  --dv-custom-block-details-border: var(--dv-custom-block-info-border);
  --dv-custom-block-details-text: var(--dv-custom-block-info-text);
  --dv-custom-block-details-bg: var(--dv-custom-block-info-bg);
  --dv-custom-block-details-code-bg: var(--dv-custom-block-details-bg);
}

.dark {
  --dv-c-bg: var(--dv-c-black-soft);
  --dv-c-bg-soft: var(--dv-c-black-mute);
  --dv-c-bg-mute: var(--dv-c-gray-dark-3);
  --dv-c-bg-alt: var(--dv-c-black);
  --dv-c-divider: var(--dv-c-divider-dark-1);
  --dv-c-divider-light: var(--dv-c-divider-dark-2);
  --dv-c-divider-inverse: var(--dv-c-divider-light-1);
  --dv-c-divider-inverse-light: var(--dv-c-divider-light-2);
  --dv-c-text-1: var(--dv-c-text-dark-1);
  --dv-c-text-2: var(--dv-c-text-dark-2);
  --dv-c-text-3: var(--dv-c-text-dark-3);
  --dv-c-text-4: var(--dv-c-text-dark-4);
  --dv-c-text-inverse-1: var(--dv-c-text-light-1);
  --dv-c-text-inverse-2: var(--dv-c-text-light-2);
  --dv-c-text-inverse-3: var(--dv-c-text-light-3);
  --dv-c-text-inverse-4: var(--dv-c-text-light-4);
  --dv-c-text-code: var(--dv-c-indigo-lighter);

  // Code styles
  --dv-code-block-bg: var(--dv-c-bg-alt);

  // Button Styles
  --dv-button-brand-border: var(--dv-c-brand-light);
  --dv-button-brand-text: var(--dv-c-text-dark-1);
  --dv-button-brand-bg: var(--dv-c-brand-dark);
  --dv-button-brand-hover-border: var(--dv-c-brand-lighter);
  --dv-button-brand-hover-text: var(--dv-c-text-dark-1);
  --dv-button-brand-hover-bg: var(--dv-c-brand);
  --dv-button-brand-active-border: var(--dv-c-brand-lighter);
  --dv-button-brand-active-text: var(--dv-c-text-dark-1);
  --dv-button-brand-active-bg: var(--dv-button-brand-bg);
  --dv-button-alt-border: var(--dv-c-gray-dark-2);
  --dv-button-alt-text: var(--dv-c-text-dark-1);
  --dv-button-alt-bg: var(--dv-c-bg-mute);
  --dv-button-alt-hover-border: var(--dv-c-gray-dark-2);
  --dv-button-alt-hover-text: var(--dv-c-text-dark-1);
  --dv-button-alt-hover-bg: var(--dv-c-gray-dark-2);
  --dv-button-alt-active-border: var(--dv-c-gray-dark-2);
  --dv-button-alt-active-text: var(--dv-c-text-dark-1);
  --dv-button-alt-active-bg: var(--dv-button-alt-bg);
  --dv-button-sponsor-border: var(--dv-c-gray-dark-1);
  --dv-button-sponsor-text: var(--dv-c-text-dark-2);

  // Custom Block
  --dv-custom-block-info-border: var(--dv-c-divider-light);
  --dv-custom-block-info-bg: var(--dv-c-black-mute);
  --dv-custom-block-info-code-bg: var(--dv-c-gray-dark-4);
  --dv-custom-block-tip-border: var(--dv-c-green-dimm-2);
  --dv-custom-block-tip-text: var(--dv-c-green-light);
  --dv-custom-block-warning-border: var(--dv-c-yellow-dimm-2);
  --dv-custom-block-warning-text: var(--dv-c-yellow-light);
  --dv-custom-block-danger-border: var(--dv-c-red-dimm-2);
  --dv-custom-block-danger-text: var(--dv-c-red-light);
}

@media (min-width: 960px) {
  :root {
    --dv-nav-height: var(--dv-nav-height-desktop);
  }
}
